:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #e4ede6;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  color: #121212;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;

}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled.bg-transparent-st {
  background: #ffffff8f !important;
}

button:disabled {
  background: #0b622f8f !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #0B622F;
  border-radius: 4px;
  border: none; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0B622F;
}

.form-control:disabled, input:disabled , .form-control-st:disabled  {
  background-color: #F7FAF8 !important;
  border: 1px solid #02401748 !important;
}
.form-control-text-ad{
  height: 50px;
  width: 100%;
  border-radius: 6px ;
  border: 1px solid 1px;
  outline: none !important;
}

.form-control-text-ad:focus {
    border-color: #18934b !important;
    box-shadow: none !important
}
input {
  background: #fff;
  color: #121212;
}
.css-qfc1gj-placeholder {
    grid-area: 1 / 1 / 2 / 3;
    color: #aaa;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box !important;
    white-space: nowrap !important;       
    overflow: hidden !important;       
    text-overflow: ellipsis !important;   
}

.form-select:focus {
  border-color:unset !important;
  box-shadow: unset !important;
}

.form-control {
  height: 40px !important;
  border: 1px solid #ccc !important;
}

input[type="checkbox"] {
  background-color: #fff !important;
}