
.approvel-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.billing-modal-container {
    background: #fff;
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 90%;
    max-height: fit-content;
}

.class-modal-container {
    background: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 90%;
    max-height: fit-content;
}

.billing-modal-container-head{
   height: 50px;
   padding: 2px 25px 2px  25px;
   display:  flex;
   align-items: center;
   justify-content: end;
   cursor: pointer !important;
}
.billing-modal-container-body{
    height: calc(100% -  120px);
    max-height: fit-content;
    padding:5px 25px 15px  25px;
    overflow: auto;
}
.billing-model-footer{
    height: 70px;
    padding: 15px;
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.approvel-btn-decline,
.approvel-btn-approve {
    padding: 8px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer !important;
    transition: 0.3s ease;
}

.approvel-btn-decline {
    background-color: #f44336;
    color: white;
}

.approvel-btn-approve {
    background: linear-gradient(3deg, #0B622F, #18934b) !important;
    color: white;
}

.approvel-btn-decline:hover {
    background-color: #d32f2f;
}

.approvel-btn-approve:hover {
    background-color: #388e3c;
}
.reason-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.reason-popup {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.reason-textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  color: black;
  outline: none;
  background-color: #ffffff !important;
  resize: none;
}

.reason-cancel-btn, .reason-submit-btn {
  border: none;
  border-radius: 6px;
  padding: 7px 14px;
  font-weight: 500;
  cursor: pointer;
}

.reason-cancel-btn {
  background: #ddd;
}

.reason-submit-btn{
  background: #e74c3c;
  color: #fff;
}
