.creative-main{
    padding: 0px 18px;
    height: 100%;
    overflow-y: auto;
}
.creative-header-main{
 height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px !important;
}
.creative-sub-header{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px 0px !important;
}
.cs-cbtns{
    padding: 6px 5px;
    border: 1px solid #06823a;
    border-radius: 6px;
    outline: none;
    background: transparent;
    color: #121212;
    width: 100%;
    max-width: 115px;
}
.cs-cbtns.active {
  background: linear-gradient(3deg, #0B622F, #18934B) !important;
  color: white;
}
.creative-main-table{
  height: calc(100% - 140px);  
  width: 100%;
}
.creative-s-table{
    border-radius: 5px;
    height: calc(100% - 45px);
    box-shadow: 0px 0px 4px -2px green;
    width: 100%;
    overflow-x: auto;
}
.creative-footer-tab-cs {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.cb-table-header{
    width: 100%;
    height: 48px;
    box-shadow: 0px 1px 3px -1px #001900;
    background: linear-gradient(3deg, #0B622F, #18934B) !important;
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-weight: 500;
    min-width: 1024px !important;
}
.cb-body-row-st {
     width: 100%;
    height: calc(100% - 48px);
    min-width: 1024px;
    overflow: auto;
    background-color: white;
}

.cs-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.cs-modal-container {
    background: white;
    border-radius: 12px;
    padding: 24px;
    width: 500px;
    animation: zoomIn 0.5s forwards;
    transform-origin: center;
}

.action-menu-cr {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  z-index: 5;
  right: 29px;
  border-radius: 7px;
  margin-top: 0px;
}