.consult_modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000eb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.consult_modal-container {
    background: white;
    border-radius: 8px;
    width: 800px;
    padding: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    position: relative;
}

.consult_modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consult_close-button {
    cursor: pointer;
}

.consult_modal-body {
    margin-top: 20px;
}

.consult_label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.consult_dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: white;
    color: #121212;
}

.consult_calendar-slot-wrapper {
    display: flex;
    gap: 20px;
}

.consult_calendar-box {
    border-radius: 8px;
    width: 60%;
}

.consult_calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.consult_day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 500;
    margin-bottom: 5px;
}

.consult_day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.consult_day {
    text-align: center;
    padding: 6px;
    border-radius: 5px;
}

.consult_day.active {
    background-color: #d0ede0;
}

.consult_day.selected {
    background-color: #1e4f2e;
    color: white;
}

.consult_slot-box {
    width: 40%;
    background-color: #0b622f;
    border-radius: 8px;
    color: #ffffff;
    padding: 18px;
    box-shadow: inset 0px 0px 9px -1px black;
    border: 1px solid #148643;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 342px;
    overflow: auto;
}

.consult_slot-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.consult_slot-times {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.consult_slot-time {
    cursor: pointer;
}

.consult_slot-time.selected {
    font-weight: bold;
    text-decoration: underline;
}

.consult_modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.consult_cancel-button,
.consult_save-button {
    padding: 7px 25px;
    border-radius: 6px;
    margin-top: 12px;
    font-weight: 500;
    cursor: pointer;
}

.consult_cancel-button {
    background-color: white;
    color: #030303;
    border: 1px solid #b9b9b9;
}
.consult_cancel-button:hover{
    background-color: rgb(204, 28, 28); 
    color: #ffffff;
     border: 1px solid rgb(204, 28, 28);
}

.consult_save-button {
    background: linear-gradient(3deg, #0B622F, #18934B) !important;
    color: white;
    border: 1px solid #1e4f2e;
}


.consult_day.selected.active {
    background-color: #1e4f2e;
    color: white;
}

.react-datepicker {
    width: 100%;
}

.react-datepicker__day.consult_day {
    border-radius: 6px;
    padding: 8px;
    margin: 2px;
}

.react-datepicker__day.consult_day:hover {
    background-color: #e6f4ea;
}

.react-datepicker__day.selected,
.react-datepicker__day--selected {
    background-color: #1e4f2e;
    color: white;
}

.consult_calendar-box .react-datepicker__month-container {
    width: 100% !important;
}

.consult_calendar-box .react-datepicker__day-names {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    font-weight: 600;
}

.consult_calendar-box .react-datepicker__header {
    padding: 12px !important;
}

.consult_calendar-box .react-datepicker__week {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.consult_calendar-box .react-datepicker__day.consult_day {
    padding: 5px !important;
    height: 40px !important;
    width: 40px !important;
}

.consult_calendar-box .react-datepicker {
    height: 100%;
}

.consult_modal-body .common-select-st {
    z-index: 1000;
}

.appoint_container {
    display: flex;
    gap: 20px;
}

.appoint_card {
    flex: 1;
    min-width: 320px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    background: #fff;
}

.appoint_row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.appoint_slot_title {
    margin-top: 20px;
}

.appoint_input-row {
    display: flex;
    margin-top: 15px;
    align-items: center;
  
}

.appoint_input-row input,
.appoint_datepicker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.appoint_total-value {
    display: flex;
    align-items: center !important;
    margin-top: 15px;
    font-weight: 500;
}

.appoint_rupee {
    font-weight: bold;
    color: #000;
}

.appoint_upload {
    margin-top: 20px;
}

.appoint_upload p {
    color: #555;
    margin: 4px 0 10px;
}

.appoint_upload-box {
    border: 2px dashed #048d3d;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #08700b;
    cursor: pointer;
    position: relative;
}

.appoint_upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.appoint_upload-icon {
    margin-bottom: 8px;
}

.appoint_file-name {
    margin-top: 8px;
    color: #333;
}

.appoint_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.appoint_clear-btn,
.appoint_book-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.appoint_clear-btn {
    background: #f5f5f5;
    color: #000;
}

.appoint_book-btn {
    background: linear-gradient(3deg, #0B622F, #18934B) !important;
    color: #fff;
}

input,
.react-datepicker-wrapper {
    outline: none !important;
}

.consult_slot-time.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }


.appoint_file-remove {
  margin-left: 8px;
  padding: 0px 5px;
  border: 1px solid #d9534f;
  border-radius: 50%;
  color: #d9534f; 
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  transition: color 0.2s ease-in-out;
}

.appoint_file-remove:hover {
  color: #b52b27; 
}