.modal-header-cust {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.enter-lrad-count {
    height: 42px;
    border-radius: 8px;
    background: transparent;
    width: 78%;
    border: 1px solid #c6c6c6;
    color: #121212;
    padding: 10px;
}

.modal-body-cust {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.submit-lead-count {
    background: #156b30;
    border: none;
    outline: none;
  
    &:hover {
      outline: none;
      background: #108033 !important;
    }
  
    &:focus {
      outline: none;
    }
  }
  