.ordersum-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.ordersum-popup {
    background: white;
    width: 80%;
    max-width: 935px;
    border-radius: 10px;
    position: relative;
    max-height: 90%;
    height:fit-content;
}

.ordersum-close {
    position: absolute;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.ordersum-grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.ordersum-col {
    flex: 1;
    min-width: 300px;
}

.ordersum-col h4 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.ordersum-col p {
    margin: 6px 0;
    font-size: 14px;
}

.ordersum-print {
    background: linear-gradient(3deg, #0B622F, #18934b) !important;
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

@media print {
    @page {
        margin: 0;
        size: A5; 
    }

    * {
        visibility: hidden !important;
    }

    .ordersum-left-print, .ordersum-left-print * {
        visibility: visible !important;
    }

    .ordersum-left-print {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        margin: 0px auto;
        padding: 40px;
        background: white !important;
        z-index: 999;
    }

    .ordersum-print,
    .ordersum-close,
    .ordersum-col:not(.ordersum-left-print),
    .ordersum-overlay::before,
    .ordersum-popup::before {
        display: flex !important;

    }

    .ordersum-popup {
        background: white !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
        overflow: visible !important;
    }

    .ordersum-overlay {
        background: white !important;
    }

}


