.sidebar {
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 18px 0px 18px 18px;
  box-shadow: 0px 0px 10px -4px #969696;
}

.logo {
  text-align: center;
}

.sidebar-nav {
  scroll-behavior: smooth;
}

.sub-main-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

nav a,
.submenu-wrapper {
  color: #121212;
  padding: 8px 16px;
  border-radius: 12px 0px 0px 12px;
  text-decoration: none;
  margin: 5px 0;
  font-weight: 400;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background: rgb(240 245 242);
  color: #0B622F;
}

nav a.active {
  background: linear-gradient(3deg, #0B622F, #18934b);
  color: white;
  font-weight: 500 !important;
  width: 100%;
}

nav a.active svg path {
  stroke: white !important;
}

nav a.active .search-bar-sb {
  fill: white;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo-sb {
  width: 62%;
  max-width: 62%;
}

.sbsubitem-title {
  color: #121212;
}

.submenu-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  padding-right: 0px !important;
}

.submenu-item {
  padding: 10px;
  color: #333;
  text-decoration: none;
  display: block;
}

.open-submenu {
  margin: 0px 18px;
  border: 1px solid #e5f0e7;
  border-top: 0px;
  padding: 0px 10px;
  margin-right: 0px;
  border-radius: 0px 0px 10px 10px;
  background: #f7fffb;
  box-shadow: 0px 2px 3px -2px #00712d;
  z-index: 999;
}

.submenu-item-active {
  color: #0B622F;
  font-weight: 600;
  border-radius: 4px;
}

.submenu-item:hover {
  background: transparent !important;
}

.dropdown-st-sb {
  display: flex;
  align-items: center;
  gap: 12px;
}

.close-sidemenu {
  display: none;
}

@media (max-width: 1024px) {
  .sidebar , .sidebar-div {
    width: 100%;
    height: 100%;
    color: #121212;
    position: absolute;
    z-index: 9999;
    max-width: 250px;
    background: white;
  }
  

  .close-sidemenu {
    position: absolute;
    right: 8px;
    top: 8px;
    display: block;
  }
}

.sbnone-title{
  font-size: 16px;
}