.filter-btn-st {
    background: white;
    padding: 6px 18px;
    border-radius: 6px;
    color: #121212;
    border: 1px solid #0B622F;
}

.filter-btn-st:hover , .bg-color-std {
    background: linear-gradient(3deg, #0B622F, #18934b) !important;
    color: #fff !important;
}

.comm-updateselect-ba {
    height: 42px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    width: calc(100% - 212px);
}
.wallet-file-preview {
  display: flex;
  align-items: center;
  gap: 6px;
  max-width: 200px;  }

.wallet-file-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wallet-remove-span {
cursor: pointer;
color: rgb(187, 59, 59);
font-size: 20px;
font-weight: 700;
}
.wallet-remove-span:hover {
  color: #e91717;
}

.tarket-px-ox{
  padding: 0px 15px;
}
@media (max-width: 768px) {
  .filter-btn-st {
    width: 23%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
