.lead-viewhead-st {
    height: 42px;
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.lead-viewbody-st {
    height: calc(100% - 42px);
    width: 100%;
}

.client-info-card {
    overflow: auto;
    max-height: 100%;
    width: 328px;
    background: linear-gradient(3deg, #0B622F, #18934b);
    padding: 18px;
    border-radius: 10px;
    color: white;
    height: 100%;
}

.client-title {
    color: #fff;
}

.history-tabs-container {
    width: 194px;
    padding: 0px 8px;
}

.history-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 35px;
}

.history-active {
    color: #0B622F;
    font-weight: 700;
}

.history-table-container {
    height: 100%;
    width: calc(100% - 522px);
    overflow: auto;
    background-color: #ffff !important;
}

.hist-tab-head {
    background: linear-gradient(3deg, #0B622F, #18934b);
    color: #fff;
    font-weight: 600;
    border-radius: 8px 8px 0px 0px;
    min-width: 582px;
}

.his-headcol-st {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.his-body-st {
    height: calc(100% - 48px);
    background: white;
    min-width: 582px;
    overflow: auto;
}

.salespp-open-st {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000045;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.salespp-container-st {
    max-width: 95%;
    max-height: 95%;
    background: white;
    border-radius: 6px;
    padding: 8px 18px 18px 18px;
    width: auto;
    height: auto;
    min-width: 292px;
}

.salespp-body-st {
    width: fit-content;
    height: fit-content;
}

.clsspp_accordion-container {
    width: 100%;
}

.clsspp_accordion-section {
    margin-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.clsspp_accordion-header {
    background: linear-gradient(3deg, #0B622F, #18934b);
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
}

.clsspp_accordion-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
}

.clsspp_details-table {
    width: 100%;
    border-collapse: collapse;
}

.clsspp_details-table td {
    padding: 8px 12px;
    font-size: 14px;
    color: #444;
}

.clsspp_details-table td:first-child {
    font-weight: 600;
}

.clsspp_arrow {
    transition: transform 0.3s ease;
}

.clsspp_arrow.open {
    transform: rotate(180deg);
}

.male-column-st {
    font-weight: 600;
    width: 142px;
}

.malergh-column-st {
    width: calc(100% - 142px);
}

.min-wdset-st {
    min-width: 112px;
}